In [1]:
# Necessary imports
import numpy as np
import pandas as pd

from datetime import datetime
from dateutil.relativedelta import relativedelta
from sklearn.preprocessing import OrdinalEncoder

from utils.calculate_delivery_time import calculate_delivery_time
from utils.calculate_account_age_until_time_of_order import calculate_account_age_until_time_of_order
from utils.split_x_y import split_x_y
from utils.save_dataset import save_dataset

In [2]:
# Data paths
train_path = '../data/orders_train.txt'
test_features_path = '../data/orders_test_features.txt'
test_realclass_path = '../data/orders_test_realclass.txt'

In [3]:
# Load csv data into dataframes
train_df = pd.read_csv(train_path, sep=';')
test_features_df = pd.read_csv(test_features_path, sep=';')
test_realclass_df = pd.read_csv(test_realclass_path, sep=';')
test_df = pd.concat([test_features_df, test_realclass_df], axis=1)

In [4]:
# Drop column 'orderItemID'
train_df = train_df.drop('orderItemID', axis=1)
test_df = test_df.drop('orderItemID', axis=1)

# Replace all '?' values with NaN
train_df = train_df.replace('?', np.nan)
test_df = test_df.replace('?', np.nan)

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481092 entries, 0 to 481091
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   orderDate       481092 non-null  object
 1   deliveryDate    441673 non-null  object
 2   itemID          481092 non-null  int64
 3   size            481092 non-null  object
 4   color           480949 non-null  object
 5   manufacturerID  481092 non-null  int64
 6   price           481092 non-null  float64
 7   customerID      481092 non-null  int64
 8   salutation      481092 non-null  object
 9   dateOfBirth     432203 non-null  object
 10  state           481092 non-null  object
 11  creationDate    481092 non-null  object
 12  returnShipment  481092 non-null  int64
dtypes: float64(1), int64(4), object(8)
memory usage: 47.7+ MB

In [6]:
train_df.head(n=50)

,orderDate,deliveryDate,itemID,size,color,manufacturerID,price,customerID,salutation,dateOfBirth,state,creationDate,returnShipment
0,2012-04-01,2012-04-03,186,m,denim,25,69.90,794,Mrs,1965-01-06,Baden-Wuerttemberg,2011-04-25,0
1,2012-04-01,2012-04-03,71,9+,ocher,21,69.95,794,Mrs,1965-01-06,Baden-Wuerttemberg,2011-04-25,1
2,2012-04-01,2012-04-03,71,9+,curry,21,69.95,794,Mrs,1965-01-06,Baden-Wuerttemberg,2011-04-25,1
3,2012-04-02,NaN,22,m,green,14,39.90,808,Mrs,1959-11-09,Saxony,2012-01-04,0
4,2012-04-02,1990-12-31,151,39,black,53,29.90,825,Mrs,1964-07-11,Rhineland-Palatinate,2011-02-16,0
5,2012-04-02,1990-12-31,598,xxl,brown,87,89.90,825,Mrs,1964-07-11,Rhineland-Palatinate,2011-02-16,0
6,2012-04-02,1990-12-31,15,39,black,1,129.90,825,Mrs,1964-07-11,Rhineland-Palatinate,2011-02-16,0
7,2012-04-02,2012-04-03,32,xxl,brown,3,21.90,850,Mrs,1948-04-08,North Rhine-Westphalia,2011-02-16,1
8,2012-04-02,2012-04-03,32,xxl,red,3,21.90,850,Mrs,1948-04-08,North Rhine-Westphalia,2011-02-16,1
9,2012-04-02,2012-04-03,57,xxl,green,3,39.90,850,Mrs,1948-04-08,North Rhine-Westphalia,2011-02-16,1
10,2012-04-02,2012-04-03,2,xxl,mocca,2,39.90,850,Mrs,1948-04-08,North Rhine-Westphalia,2011-02-16,1
11,2012-04-02,2012-04-03,259,39,black,1,119.90,850,Mrs,1948-04-08,North Rhine-Westphalia,2011-02-16,1
12,2012-04-02,2012-04-03,603,39,black,55,169.90,850,Mrs,1948-04-08,North Rhine-Westphalia,2011-02-16,1
13,2012-04-02,2012-04-10,259,39,ocher,1,119.90,850,Mrs,1948-04-08,North Rhine-Westphalia,2011-02-16,1
14,2012-04-02,2012-04-03,165,37,mocca,47,89.90,858,Mrs,NaN,Berlin,2012-03-29,1
15,2012-04-02,2012-04-04,605,43,anthracite,1,199.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,0
16,2012-04-02,2012-04-04,606,37,green,1,69.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,1
17,2012-04-02,2012-04-04,55,37,green,1,89.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,1
18,2012-04-02,2012-04-04,79,37,olive,1,139.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,1
19,2012-04-02,2012-04-04,57,m,petrol,3,39.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,1
20,2012-04-02,2012-04-04,38,m,blue,25,49.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,1
21,2012-04-02,2012-04-04,231,37,green,24,99.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,1
22,2012-04-02,2012-04-04,100,37,brown,43,119.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,0
23,2012-04-02,2012-04-04,114,37,grey,43,129.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,1
24,2012-04-02,2012-04-04,286,37,brown,1,129.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,0
25,2012-04-02,2012-04-04,262,37,red,12,99.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,1
26,2012-04-02,2012-04-09,607,43,black,1,149.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,0
27,2012-04-02,2012-05-04,173,m,brown,20,49.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,0
28,2012-04-02,2012-05-04,146,m,olive,3,24.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,0
29,2012-04-02,2012-05-04,163,37,green,53,49.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,0
30,2012-04-02,2012-05-04,121,37,brown,43,99.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,1
31,2012-04-02,2012-04-03,140,38,beige,6,69.90,873,Mrs,1953-05-16,Bavaria,2011-05-29,1
32,2012-04-02,2012-04-03,38,l,blue,25,49.90,877,Mrs,1961-03-08,Bavaria,2011-04-24,1
33,2012-04-02,2012-04-03,38,xl,blue,25,49.90,877,Mrs,1961-03-08,Bavaria,2011-04-24,1
34,2012-04-02,2012-04-03,57,m,petrol,3,34.90,878,Mrs,1978-02-07,Bavaria,2012-02-18,0
35,2012-04-02,2012-04-03,57,m,mocca,3,34.90,878,Mrs,1978-02-07,Bavaria,2012-02-18,0
36,2012-04-02,2012-04-03,57,m,green,3,34.90,878,Mrs,1978-02-07,Bavaria,2012-02-18,0
37,2012-04-02,2012-04-03,165,39,black,47,89.90,886,Mrs,1964-07-21,Bavaria,2011-11-21,1
38,2012-04-02,2012-04-04,103,39,black,17,139.90,886,Mrs,1964-07-21,Bavaria,2011-11-21,1
39,2012-04-02,2012-04-05,427,39,black,55,169.90,886,Mrs,1964-07-21,Bavaria,2011-11-21,1
40,2012-04-02,2012-04-03,182,42,ecru,17,109.90,896,Mrs,1968-12-21,Hesse,2011-03-28,1
41,2012-04-02,2012-04-03,138,l,curry,46,39.90,900,Mrs,1940-03-07,North Rhine-Westphalia,2011-06-07,0
42,2012-04-02,2012-04-03,138,l,blue,46,39.90,900,Mrs,1940-03-07,North Rhine-Westphalia,2011-06-07,0
43,2012-04-02,2012-04-03,108,xxl,blue,46,39.90,905,Mrs,1966-09-13,Bremen,2011-02-16,1
44,2012-04-02,2012-04-03,193,41,black,53,79.90,905,Mrs,1966-09-13,Bremen,2011-02-16,1
45,2012-04-02,2012-04-03,59,unsized,grey,32,19.90,905,Mrs,1966-09-13,Bremen,2011-02-16,0
46,2012-04-02,2012-04-03,29,xl,black,20,69.90,905,Mrs,1966-09-13,Bremen,2011-02-16,1
47,2012-04-02,2012-04-03,218,xxl,turquoise,42,89.90,905,Mrs,1966-09-13,Bremen,2011-02-16,0
48,2012-04-02,2012-04-03,184,xxl,red,36,99.90,905,Mrs,1966-09-13,Bremen,2011-02-16,1
49,2012-04-02,2012-04-03,271,s,magenta,5,59.90,913,Mrs,1966-05-09,North Rhine-Westphalia,2011-02-16,0

In [7]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50078 entries, 0 to 50077
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   orderDate       50078 non-null  object
 1   deliveryDate    45810 non-null  object
 2   itemID          50078 non-null  int64
 3   size            50078 non-null  object
 4   color           50078 non-null  object
 5   manufacturerID  50078 non-null  int64
 6   price           50078 non-null  float64
 7   customerID      50078 non-null  int64
 8   salutation      50078 non-null  object
 9   dateOfBirth     44909 non-null  object
 10  state           50078 non-null  object
 11  creationDate    50078 non-null  object
 12  returnShipment  50078 non-null  int64
dtypes: float64(1), int64(4), object(8)
memory usage: 5.0+ MB

In [8]:
# Drop all rows with NaN values in column 'color'
train_df = train_df[train_df['color'].notna()]

# Calculate delivery time; 'Missing' if no delivery date is giving; 'Missing' if delivery date is before order date
train_df['deliveryTime'] = train_df.apply(lambda x: calculate_delivery_time(x['orderDate'], x['deliveryDate']), axis=1)
test_df['deliveryTime'] = test_df.apply(lambda x: calculate_delivery_time(x['orderDate'], x['deliveryDate']), axis=1)

# Calculate age of account until time of order
train_df['ageOfAccountUntilTimeOfOrder'] = train_df.apply(lambda x: calculate_account_age_until_time_of_order(x['creationDate'], x['orderDate']), axis=1)
test_df['ageOfAccountUntilTimeOfOrder'] = test_df.apply(lambda x: calculate_account_age_until_time_of_order(x['creationDate'], x['orderDate']), axis=1)

# Drop columns 'orderDate', 'deliveryDate' and 'creationDate'
train_df = train_df.drop(columns=['orderDate', 'deliveryDate', 'creationDate'])
test_df = test_df.drop(columns=['orderDate', 'deliveryDate', 'creationDate'])

# Missing Category Imputation -> Impute all NaN values with a new category 'Missing'
train_df = train_df.fillna('Missing')
test_df = test_df.fillna('Missing')

# Create new column 'age'
train_df['age'] = train_df['dateOfBirth'].apply(lambda x: str(relativedelta(pd.to_datetime('now'), datetime.strptime(x, '%Y-%m-%d')).years) if x != 'Missing' else 'Missing')
test_df['age'] = test_df['dateOfBirth'].apply(lambda x: str(relativedelta(pd.to_datetime('now'), datetime.strptime(x, '%Y-%m-%d')).years) if x != 'Missing' else 'Missing')

# Drop column 'dateOfBirth'
train_df = train_df.drop(columns=['dateOfBirth'])
test_df = test_df.drop(columns=['dateOfBirth'])

# Ordinal Encoding for categorical columns
oe_item_id = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(train_df['itemID'].values.reshape(-1, 1))
oe_size = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(train_df['size'].values.reshape(-1, 1))
oe_color = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(train_df['color'].values.reshape(-1, 1))
oe_manufacturer_id = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(train_df['manufacturerID'].values.reshape(-1, 1))
oe_customer_id = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(train_df['customerID'].values.reshape(-1, 1))
oe_salutation = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(train_df['salutation'].values.reshape(-1, 1))
oe_state = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(train_df['state'].values.reshape(-1, 1))
oe_age = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(train_df['age'].values.reshape(-1, 1))
oe_delivery_time = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(train_df['deliveryTime'].values.reshape(-1, 1))
oe_age_of_account_until_time_of_order = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(train_df['ageOfAccountUntilTimeOfOrder'].values.reshape(-1, 1))

train_df['itemID'] = oe_item_id.transform(train_df['itemID'].values.reshape(-1, 1))
train_df['size'] = oe_size.transform(train_df['size'].values.reshape(-1, 1))
train_df['color'] = oe_color.transform(train_df['color'].values.reshape(-1, 1))
train_df['manufacturerID'] = oe_manufacturer_id.transform(train_df['manufacturerID'].values.reshape(-1, 1))
train_df['customerID'] = oe_customer_id.transform(train_df['customerID'].values.reshape(-1, 1))
train_df['salutation'] = oe_salutation.transform(train_df['salutation'].values.reshape(-1, 1))
train_df['state'] = oe_state.transform(train_df['state'].values.reshape(-1, 1))
train_df['age'] = oe_age.transform(train_df['age'].values.reshape(-1, 1))
train_df['deliveryTime'] = oe_delivery_time.transform(train_df['deliveryTime'].values.reshape(-1, 1))
train_df['ageOfAccountUntilTimeOfOrder'] = oe_age_of_account_until_time_of_order.transform(train_df['ageOfAccountUntilTimeOfOrder'].values.reshape(-1, 1))

test_df['itemID'] = oe_item_id.transform(test_df['itemID'].values.reshape(-1, 1))
test_df['size'] = oe_size.transform(test_df['size'].values.reshape(-1, 1))
test_df['color'] = oe_color.transform(test_df['color'].values.reshape(-1, 1))
test_df['manufacturerID'] = oe_manufacturer_id.transform(test_df['manufacturerID'].values.reshape(-1, 1))
test_df['customerID'] = oe_customer_id.transform(test_df['customerID'].values.reshape(-1, 1))
test_df['salutation'] = oe_salutation.transform(test_df['salutation'].values.reshape(-1, 1))
test_df['state'] = oe_state.transform(test_df['state'].values.reshape(-1, 1))
test_df['age'] = oe_age.transform(test_df['age'].values.reshape(-1, 1))
test_df['deliveryTime'] = oe_delivery_time.transform(test_df['deliveryTime'].values.reshape(-1, 1))
test_df['ageOfAccountUntilTimeOfOrder'] = oe_age_of_account_until_time_of_order.transform(test_df['ageOfAccountUntilTimeOfOrder'].values.reshape(-1, 1))

In [9]:
# Check feature engineered dataframe
print(train_df.head(n=50))
print(test_df.head(n=50))

    itemID   size  color  manufacturerID   price  customerID  salutation  \
0    185.0  115.0   42.0            24.0   69.90       422.0         3.0
1     70.0  102.0   68.0            20.0   69.95       422.0         3.0
2     70.0  102.0   35.0            20.0   69.95       422.0         3.0
3     21.0  115.0   49.0            13.0   39.90       430.0         3.0
4    150.0   59.0   17.0            52.0   29.90       445.0         3.0
5    590.0  120.0   22.0            86.0   89.90       445.0         3.0
6     14.0   59.0   17.0             0.0  129.90       445.0         3.0
7     31.0  120.0   22.0             2.0   21.90       464.0         3.0
8     31.0  120.0   78.0             2.0   21.90       464.0         3.0
9     56.0  120.0   49.0             2.0   39.90       464.0         3.0
10     1.0  120.0   65.0             1.0   39.90       464.0         3.0
11   257.0   59.0   17.0             0.0  119.90       464.0         3.0
12   595.0   59.0   17.0            54.0  169.90       464.0         3.0
13   257.0   59.0   68.0             0.0  119.90       464.0         3.0
14   164.0   53.0   65.0            46.0   89.90       468.0         3.0
15   597.0   72.0    3.0             0.0  199.90       470.0         3.0
16   598.0   53.0   49.0             0.0   69.90       470.0         3.0
17    54.0   53.0   49.0             0.0   89.90       470.0         3.0
18    78.0   53.0   70.0             0.0  139.90       470.0         3.0
19    56.0  115.0   75.0             2.0   39.90       470.0         3.0
20    37.0  115.0   19.0            24.0   49.90       470.0         3.0
21   229.0   53.0   49.0            23.0   99.90       470.0         3.0
22    99.0   53.0   22.0            42.0  119.90       470.0         3.0
23   113.0   53.0   50.0            42.0  129.90       470.0         3.0
24   284.0   53.0   22.0             0.0  129.90       470.0         3.0
25   260.0   53.0   78.0            11.0   99.90       470.0         3.0
26   599.0   72.0   17.0             0.0  149.90       470.0         3.0
27   172.0  115.0   22.0            19.0   49.90       470.0         3.0
28   145.0  115.0   70.0             2.0   24.90       470.0         3.0
29   162.0   53.0   49.0            52.0   49.90       470.0         3.0
30   120.0   53.0   22.0            42.0   99.90       470.0         3.0
31   139.0   55.0   15.0             5.0   69.90       474.0         3.0
32    37.0  114.0   19.0            24.0   49.90       477.0         3.0
33    37.0  118.0   19.0            24.0   49.90       477.0         3.0
34    56.0  115.0   75.0             2.0   34.90       478.0         3.0
35    56.0  115.0   65.0             2.0   34.90       478.0         3.0
36    56.0  115.0   49.0             2.0   34.90       478.0         3.0
37   164.0   59.0   17.0            46.0   89.90       482.0         3.0
38   102.0   59.0   17.0            16.0  139.90       482.0         3.0
39   423.0   59.0   17.0            54.0  169.90       482.0         3.0
40   181.0   69.0   44.0            16.0  109.90       484.0         3.0
41   137.0  114.0   35.0            45.0   39.90       486.0         3.0
42   137.0  114.0   19.0            45.0   39.90       486.0         3.0
43   107.0  120.0   19.0            45.0   39.90       487.0         3.0
44   191.0   67.0   17.0            52.0   79.90       487.0         3.0
45    58.0  117.0   50.0            31.0   19.90       487.0         3.0
46    28.0  118.0   17.0            19.0   69.90       487.0         3.0
47   216.0  120.0   83.0            41.0   89.90       487.0         3.0
48   183.0  120.0   78.0            35.0   99.90       487.0         3.0
49   269.0  116.0   61.0             4.0   59.90       488.0         3.0

    state  returnShipment  deliveryTime  ageOfAccountUntilTimeOfOrder   age
0     0.0               0          72.0                         342.0  53.0
1     0.0               1          72.0                         342.0  53.0
2     0.0               1          72.0                         342.0  53.0
3    12.0               0         160.0                          89.0  58.0
4    10.0               0         160.0                         411.0  54.0
5    10.0               0         160.0                         411.0  54.0
6    10.0               0         160.0                         411.0  54.0
7     9.0               1           1.0                         411.0  70.0
8     9.0               1           1.0                         411.0  70.0
9     9.0               1           1.0                         411.0  70.0
10    9.0               1           1.0                         411.0  70.0
11    9.0               1           1.0                         411.0  70.0
12    9.0               1           1.0                         411.0  70.0
13    9.0               1         138.0                         411.0  70.0
14    2.0               1           1.0                           4.0  97.0
15    9.0               0          72.0                         379.0  55.0
16    9.0               1          72.0                         379.0  55.0
17    9.0               1          72.0                         379.0  55.0
18    9.0               1          72.0                         379.0  55.0
19    9.0               1          72.0                         379.0  55.0
20    9.0               1          72.0                         379.0  55.0
21    9.0               1          72.0                         379.0  55.0
22    9.0               0          72.0                         379.0  55.0
23    9.0               1          72.0                         379.0  55.0
24    9.0               0          72.0                         379.0  55.0
25    9.0               1          72.0                         379.0  55.0
26    9.0               0         127.0                         379.0  55.0
27    9.0               0          86.0                         379.0  55.0
28    9.0               0          86.0                         379.0  55.0
29    9.0               0          86.0                         379.0  55.0
30    9.0               1          86.0                         379.0  55.0
31    1.0               1           1.0                         309.0  65.0
32    1.0               1           1.0                         344.0  57.0
33    1.0               1           1.0                         344.0  57.0
34    1.0               0           1.0                          44.0  40.0
35    1.0               0           1.0                          44.0  40.0
36    1.0               0           1.0                          44.0  40.0
37    1.0               1           1.0                         133.0  54.0
38    1.0               1          72.0                         133.0  54.0
39    1.0               1          83.0                         133.0  54.0
40    6.0               1           1.0                         371.0  49.0
41    9.0               0           1.0                         300.0  79.0
42    9.0               0           1.0                         300.0  79.0
43    4.0               1           1.0                         411.0  52.0
44    4.0               1           1.0                         411.0  52.0
45    4.0               0           1.0                         411.0  52.0
46    4.0               1           1.0                         411.0  52.0
47    4.0               0           1.0                         411.0  52.0
48    4.0               1           1.0                         411.0  52.0
49    9.0               0           1.0                         411.0  52.0
    itemID   size  color  manufacturerID   price  customerID  salutation  \
0   2292.0   72.0   61.0             0.0   89.90      8363.0         3.0
1   2686.0   72.0   50.0             0.0   99.90      8363.0         3.0
2   2459.0  101.0   44.0            18.0   79.90      8363.0         3.0
3   2292.0   69.0   22.0             0.0   89.90      8363.0         3.0
4   2635.0   72.0   50.0             0.0  119.90      8363.0         3.0
5   2263.0   67.0   19.0             0.0   89.90        -1.0         3.0
6   2535.0   93.0   85.0            56.0   99.90        -1.0         3.0
7   2601.0   67.0   61.0             0.0   79.90        -1.0         3.0
8    332.0   45.0   77.0            50.0   29.90     15132.0         3.0
9   2580.0  117.0   50.0           149.0  189.90     15132.0         3.0
10  2397.0  108.0   49.0             4.0   59.90     14949.0         3.0
11  2515.0  108.0   17.0             4.0   79.90     14949.0         3.0
12  2397.0  108.0   49.0             4.0   59.90     14949.0         3.0
13  2977.0   63.0   17.0            21.0   39.98     26649.0         3.0
14  2571.0   63.0   49.0            49.0   79.95     26649.0         3.0
15  2641.0  117.0   80.0           151.0    0.00     15132.0         3.0
16  2742.0  117.0   80.0           151.0    0.00     15132.0         3.0
17  2641.0  117.0   80.0           151.0    0.00     15132.0         3.0
18  2824.0   32.0   86.0            68.0   35.95     53424.0         3.0
19  2807.0  117.0   49.0           123.0    0.00     19751.0         3.0
20  2548.0   67.0   17.0            16.0  119.90     57472.0         3.0
21  2741.0   67.0   50.0            16.0  129.90     57472.0         3.0
22  2741.0   67.0   50.0            16.0  129.90     57472.0         3.0
23  2541.0  109.0   77.0             4.0   79.90     56431.0         3.0
24   253.0  110.0   85.0            36.0   34.90     12834.0         3.0
25  2847.0  120.0   50.0            34.0  119.95     28622.0         3.0
26  2590.0   53.0   78.0            11.0   89.90     57961.0         3.0
27  1519.0  118.0   45.0            48.0   99.90     53072.0         3.0
28  2586.0   67.0   78.0           146.0   49.90     27750.0         3.0
29  2355.0  107.0   49.0            45.0   39.90     56584.0         3.0
30  2820.0  115.0   19.0             2.0   24.90     57049.0         3.0
31  2590.0   59.0   49.0            11.0   89.90     57049.0         3.0
32  2830.0   34.0   22.0            50.0   49.90     57680.0         3.0
33  2269.0  110.0   19.0           112.0   59.90     57680.0         3.0
34  2578.0  117.0   78.0             9.0   49.90     42163.0         3.0
35  2579.0  117.0   78.0             9.0   39.90     42163.0         3.0
36  2579.0  117.0   49.0             9.0   39.90     42163.0         3.0
37  2738.0  117.0   22.0             9.0   20.00        -1.0         3.0
38  2382.0  114.0   78.0             2.0   59.90     18080.0         3.0
39  2454.0  115.0   49.0             2.0   29.90     55955.0         3.0
40  2319.0  108.0   78.0            48.0   99.90     55955.0         3.0
41  2292.0   63.0   17.0             0.0   89.90        -1.0         3.0
42  2583.0   55.0   19.0            46.0   89.90     59067.0         3.0
43  2540.0   67.0   19.0            25.0  119.90      3279.0         3.0
44  2999.0  117.0   17.0           153.0    0.00      3279.0         3.0
45  2313.0   59.0   49.0           118.0  120.00     12028.0         3.0
46  2999.0  117.0   17.0           153.0    0.00     12028.0         3.0
47  2475.0   63.0   85.0            49.0   69.95     36929.0         3.0
48  2999.0  117.0   17.0           153.0    0.00     36929.0         3.0
49  2294.0  118.0   77.0             2.0   19.90     36929.0         3.0

    state  returnShipment  deliveryTime  ageOfAccountUntilTimeOfOrder   age
0     6.0               1          72.0                         343.0  55.0
1     6.0               1          72.0                         343.0  55.0
2     6.0               1          72.0                         343.0  55.0
3     6.0               0          89.0                         343.0  55.0
4     6.0               0         160.0                         343.0  55.0
5     6.0               0           1.0                           0.0  62.0
6     6.0               0          74.0                           0.0  62.0
7     6.0               1         131.0                           0.0  62.0
8    10.0               0           1.0                          -1.0  51.0
9    10.0               0         160.0                          -1.0  51.0
10    0.0               1         138.0                          -1.0  60.0
11    0.0               0         160.0                          -1.0  60.0
12    0.0               0         160.0                          -1.0  60.0
13    1.0               0          85.0                         246.0  97.0
14    1.0               0         160.0                         246.0  97.0
15   10.0               0         160.0                          -1.0  51.0
16   10.0               0         104.0                          -1.0  51.0
17   10.0               0         104.0                          -1.0  51.0
18    6.0               0          78.0                          31.0  30.0
19    8.0               0          76.0                          -1.0  60.0
20    7.0               0          72.0                          -1.0  61.0
21    7.0               0          46.0                          -1.0  61.0
22    7.0               0         160.0                          -1.0  61.0
23    7.0               1           1.0                          21.0  97.0
24    7.0               0         160.0                         323.0  65.0
25    9.0               0         160.0                         745.0  66.0
26    0.0               0           1.0                          13.0  56.0
27   14.0               0         160.0                          32.0  55.0
28    1.0               0           1.0                         535.0  47.0
29    1.0               0           1.0                         751.0  66.0
30    0.0               0           1.0                          17.0  97.0
31    0.0               0         160.0                          17.0  97.0
32    1.0               0          85.0                          14.0  60.0
33    1.0               1          85.0                          14.0  60.0
34    0.0               1           1.0                         409.0  47.0
35    0.0               0           1.0                         409.0  47.0
36    0.0               1           1.0                         409.0  47.0
37    5.0               0          77.0                           2.0  42.0
38    0.0               1         115.0                          -1.0  43.0
39    9.0               0          46.0                         376.0  67.0
40    9.0               1          46.0                         376.0  67.0
41   14.0               0          72.0                           2.0  45.0
42   10.0               0           2.0                           5.0  42.0
43    9.0               1           1.0                          -1.0  66.0
44    9.0               0           1.0                          -1.0  66.0
45    0.0               0          70.0                          -1.0  58.0
46    0.0               0          70.0                          -1.0  58.0
47   10.0               1           1.0                         143.0  65.0
48   10.0               0           1.0                         143.0  65.0
49   10.0               1         132.0                         143.0  65.0

In [10]:
# Split dataframe on classes 
train_df_0, train_df_1 = train_df[train_df.returnShipment == 0], train_df[train_df.returnShipment == 1]

In [11]:
# Sanity check split datasets
print(train_df_0.info())
print(train_df_1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248865 entries, 0 to 481091
Data columns (total 12 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   itemID                        248865 non-null  float64
 1   size                          248865 non-null  float64
 2   color                         248865 non-null  float64
 3   manufacturerID                248865 non-null  float64
 4   price                         248865 non-null  float64
 5   customerID                    248865 non-null  float64
 6   salutation                    248865 non-null  float64
 7   state                         248865 non-null  float64
 8   returnShipment                248865 non-null  int64
 9   deliveryTime                  248865 non-null  float64
 10  ageOfAccountUntilTimeOfOrder  248865 non-null  float64
 11  age                           248865 non-null  float64
dtypes: float64(11), int64(1)
memory usage: 24.7 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 232084 entries, 1 to 481087
Data columns (total 12 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   itemID                        232084 non-null  float64
 1   size                          232084 non-null  float64
 2   color                         232084 non-null  float64
 3   manufacturerID                232084 non-null  float64
 4   price                         232084 non-null  float64
 5   customerID                    232084 non-null  float64
 6   salutation                    232084 non-null  float64
 7   state                         232084 non-null  float64
 8   returnShipment                232084 non-null  int64
 9   deliveryTime                  232084 non-null  float64
 10  ageOfAccountUntilTimeOfOrder  232084 non-null  float64
 11  age                           232084 non-null  float64
dtypes: float64(11), int64(1)
memory usage: 23.0 MB
None

In [12]:
print(train_df_0['returnShipment'].value_counts())
print(train_df_1['returnShipment'].value_counts())

0    248865
Name: returnShipment, dtype: int64
1    232084
Name: returnShipment, dtype: int64

In [13]:
# Generate new datasets with 1%, 3%, 5%, 25% and 50% class balance
# (232 084 * 100 / 99) = 234 428 -> 1% of 234 428 = 2 344
# (232 084 * 100 / 97) = 239 262 -> 3% of 239 262 = 7 178
# (232 084 * 100 / 95) = 244 299 -> 5% of 244 299 = 12 214
# (232 084 * 100 / 75) = 309 445 -> 25% of 309 445 = 77 361
# (232 084 * 100 / 50) = 464 168 -> 50% of 464 168 = 232 084

# Filter dataframes for the correct number of instances
train_df_0 = train_df_0.sample(n=232084)

one_percent = train_df_1.sample(n=2344)
three_percent = train_df_1.sample(n=7178)
five_percent = train_df_1.sample(n=12214)
twenty_five_percent = train_df_1.sample(n=77361)
fifty_percent = train_df_1.sample(n=232084)

# Generate the new datasets
train_df_one = train_df_0.append(one_percent)
train_df_three = train_df_0.append(three_percent)
train_df_five = train_df_0.append(five_percent)
train_df_twenty_five = train_df_0.append(twenty_five_percent)
train_df_fifty = train_df_0.append(fifty_percent)

In [14]:
# Sanity check new datasets
print(train_df_one['returnShipment'].value_counts())
print(train_df_three['returnShipment'].value_counts())
print(train_df_five['returnShipment'].value_counts())
print(train_df_twenty_five['returnShipment'].value_counts())
print(train_df_fifty['returnShipment'].value_counts())

0    232084
1      2344
Name: returnShipment, dtype: int64
0    232084
1      7178
Name: returnShipment, dtype: int64
0    232084
1     12214
Name: returnShipment, dtype: int64
0    232084
1     77361
Name: returnShipment, dtype: int64
0    232084
1    232084
Name: returnShipment, dtype: int64

In [15]:
# Sort new datasets by index
train_df_one = train_df_one.sort_index()
train_df_three = train_df_three.sort_index()
train_df_five = train_df_five.sort_index()
train_df_twenty_five = train_df_twenty_five.sort_index()
train_df_fifty = train_df_fifty.sort_index()

In [16]:
# Save new datasets
save_dataset(df=train_df_one, dataset_type='train', balance=1)
save_dataset(df=train_df_three, dataset_type='train', balance=3)
save_dataset(df=train_df_five, dataset_type='train', balance=5)
save_dataset(df=train_df_twenty_five, dataset_type='train', balance=25)
save_dataset(df=train_df_fifty, dataset_type='train', balance=50)

save_dataset(df=test_df, dataset_type='test')