In [1]:
# Necessary imports
import numpy as np
import pandas as pd

from datetime import datetime
from dateutil.relativedelta import relativedelta
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, LabelBinarizer

from utils.calculate_delivery_time import calculate_delivery_time
from utils.calculate_account_age_until_time_of_order import calculate_account_age_until_time_of_order
from utils.split_x_y import split_x_y
from utils.save_dataset import save_dataset

In [2]:
# Data paths
train_path = '../data/orders_train.txt'
test_features_path = '../data/orders_test_features.txt'
test_realclass_path = '../data/orders_test_realclass.txt'

In [3]:
# Load csv data into dataframes
train_df = pd.read_csv(train_path, sep=';')
test_features_df = pd.read_csv(test_features_path, sep=';')
test_realclass_df = pd.read_csv(test_realclass_path, sep=';')
test_df = pd.concat([test_features_df, test_realclass_df], axis=1)

In [4]:
# Drop column 'orderItemID'
train_df = train_df.drop('orderItemID', axis=1)
test_df = test_df.drop('orderItemID', axis=1)

# Replace all '?' values with NaN
train_df = train_df.replace('?', np.nan)
test_df = test_df.replace('?', np.nan)

# Drop all rows with NaN values in column 'color'
train_df = train_df[train_df['color'].notna()]

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480949 entries, 0 to 481091
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   orderDate       480949 non-null  object
 1   deliveryDate    441535 non-null  object
 2   itemID          480949 non-null  int64
 3   size            480949 non-null  object
 4   color           480949 non-null  object
 5   manufacturerID  480949 non-null  int64
 6   price           480949 non-null  float64
 7   customerID      480949 non-null  int64
 8   salutation      480949 non-null  object
 9   dateOfBirth     432073 non-null  object
 10  state           480949 non-null  object
 11  creationDate    480949 non-null  object
 12  returnShipment  480949 non-null  int64
dtypes: float64(1), int64(4), object(8)
memory usage: 51.4+ MB

In [6]:
train_df_0 = train_df[train_df.returnShipment == 0]
train_df_1 = train_df[train_df.returnShipment == 1]
print(train_df_0['returnShipment'].value_counts())
print(train_df_1['returnShipment'].value_counts())

0    248865
Name: returnShipment, dtype: int64
1    232084
Name: returnShipment, dtype: int64

In [7]:
# 480 949 entries
# 0: 248 865 -> 51.74%
# 1: 232 084 -> 48.26%
# 60 000 entries -> 50% = 30 000
train_df_0 = train_df_0.sample(n=15000)
train_df_1 = train_df_1.sample(n=15000)
print(train_df_0.info())
print(train_df_1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15000 entries, 252762 to 379183
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   orderDate       15000 non-null  object
 1   deliveryDate    12609 non-null  object
 2   itemID          15000 non-null  int64
 3   size            15000 non-null  object
 4   color           15000 non-null  object
 5   manufacturerID  15000 non-null  int64
 6   price           15000 non-null  float64
 7   customerID      15000 non-null  int64
 8   salutation      15000 non-null  object
 9   dateOfBirth     13473 non-null  object
 10  state           15000 non-null  object
 11  creationDate    15000 non-null  object
 12  returnShipment  15000 non-null  int64
dtypes: float64(1), int64(4), object(8)
memory usage: 1.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15000 entries, 19624 to 166665
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   orderDate       15000 non-null  object
 1   deliveryDate    15000 non-null  object
 2   itemID          15000 non-null  int64
 3   size            15000 non-null  object
 4   color           15000 non-null  object
 5   manufacturerID  15000 non-null  int64
 6   price           15000 non-null  float64
 7   customerID      15000 non-null  int64
 8   salutation      15000 non-null  object
 9   dateOfBirth     13525 non-null  object
 10  state           15000 non-null  object
 11  creationDate    15000 non-null  object
 12  returnShipment  15000 non-null  int64
dtypes: float64(1), int64(4), object(8)
memory usage: 1.6+ MB
None

In [8]:
train_df = pd.concat([train_df_0, train_df_1])
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 252762 to 166665
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   orderDate       30000 non-null  object
 1   deliveryDate    27609 non-null  object
 2   itemID          30000 non-null  int64
 3   size            30000 non-null  object
 4   color           30000 non-null  object
 5   manufacturerID  30000 non-null  int64
 6   price           30000 non-null  float64
 7   customerID      30000 non-null  int64
 8   salutation      30000 non-null  object
 9   dateOfBirth     26998 non-null  object
 10  state           30000 non-null  object
 11  creationDate    30000 non-null  object
 12  returnShipment  30000 non-null  int64
dtypes: float64(1), int64(4), object(8)
memory usage: 3.2+ MB

In [9]:
# Calculate delivery time; -1 if no delivery date is giving; -1 if delivery date is before order date
train_df['deliveryTime'] = train_df.apply(lambda x: calculate_delivery_time(x['orderDate'], x['deliveryDate']), axis=1)
test_df['deliveryTime'] = test_df.apply(lambda x: calculate_delivery_time(x['orderDate'], x['deliveryDate']), axis=1)

# Calculate age of account until time of order
train_df['ageOfAccountUntilTimeOfOrder'] = train_df.apply(lambda x: calculate_account_age_until_time_of_order(x['creationDate'], x['orderDate']), axis=1)
test_df['ageOfAccountUntilTimeOfOrder'] = test_df.apply(lambda x: calculate_account_age_until_time_of_order(x['creationDate'], x['orderDate']), axis=1)

# Drop columns 'orderDate', 'deliveryDate' and 'creationDate'
train_df = train_df.drop(columns=['orderDate', 'deliveryDate', 'creationDate'])
test_df = test_df.drop(columns=['orderDate', 'deliveryDate', 'creationDate'])

# Missing Category Imputation -> Impute all NaN values with a new category 'Missing'
train_df = train_df.fillna(-1)
test_df = test_df.fillna(-1)

# Create new column 'age'
train_df['age'] = train_df['dateOfBirth'].apply(lambda x: relativedelta(pd.to_datetime('now'), datetime.strptime(x, '%Y-%m-%d')).years if x != -1 else -1)
test_df['age'] = test_df['dateOfBirth'].apply(lambda x: relativedelta(pd.to_datetime('now'), datetime.strptime(x, '%Y-%m-%d')).years if x != -1 else -1)

# Drop column 'dateOfBirth'
train_df = train_df.drop(columns=['dateOfBirth'])
test_df = test_df.drop(columns=['dateOfBirth'])

In [39]:
# One hot encoding for categorical columns
train_df = pd.get_dummies(train_df, columns=['itemID', 'size', 'color', 'manufacturerID', 'customerID', 'salutation', 'state'])
test_df = pd.get_dummies(test_df, columns=['itemID', 'size', 'color', 'manufacturerID', 'customerID', 'salutation', 'state'])
test_df = test_df.reindex(columns=train_df.columns, fill_value=np.uint8(0))

In [10]:
# Ordinal Encoding for categorical columns
# TODO: cast values to string again -> age, deliveryTime and ageOfAccountUntilTimeOfOrder, itemID, manufacturerID und customerID == continous
oe_item_id = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(train_df['itemID'].values.reshape(-1, 1))
oe_size = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(train_df['size'].values.reshape(-1, 1))
oe_color = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(train_df['color'].values.reshape(-1, 1))
oe_manufacturer_id = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(train_df['manufacturerID'].values.reshape(-1, 1))
oe_customer_id = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(train_df['customerID'].values.reshape(-1, 1))
oe_salutation = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(train_df['salutation'].values.reshape(-1, 1))
oe_state = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(train_df['state'].values.reshape(-1, 1))

train_df['itemID'] = oe_item_id.transform(train_df['itemID'].values.reshape(-1, 1))
train_df['size'] = oe_size.transform(train_df['size'].values.reshape(-1, 1))
train_df['color'] = oe_color.transform(train_df['color'].values.reshape(-1, 1))
train_df['manufacturerID'] = oe_manufacturer_id.transform(train_df['manufacturerID'].values.reshape(-1, 1))
train_df['customerID'] = oe_customer_id.transform(train_df['customerID'].values.reshape(-1, 1))
train_df['salutation'] = oe_salutation.transform(train_df['salutation'].values.reshape(-1, 1))
train_df['state'] = oe_state.transform(train_df['state'].values.reshape(-1, 1))

test_df['itemID'] = oe_item_id.transform(test_df['itemID'].values.reshape(-1, 1))
test_df['size'] = oe_size.transform(test_df['size'].values.reshape(-1, 1))
test_df['color'] = oe_color.transform(test_df['color'].values.reshape(-1, 1))
test_df['manufacturerID'] = oe_manufacturer_id.transform(test_df['manufacturerID'].values.reshape(-1, 1))
test_df['customerID'] = oe_customer_id.transform(test_df['customerID'].values.reshape(-1, 1))
test_df['salutation'] = oe_salutation.transform(test_df['salutation'].values.reshape(-1, 1))
test_df['state'] = oe_state.transform(test_df['state'].values.reshape(-1, 1))

In [11]:
print(train_df.info())
print(test_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 252762 to 166665
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   itemID                        30000 non-null  float64
 1   size                          30000 non-null  float64
 2   color                         30000 non-null  float64
 3   manufacturerID                30000 non-null  float64
 4   price                         30000 non-null  float64
 5   customerID                    30000 non-null  float64
 6   salutation                    30000 non-null  float64
 7   state                         30000 non-null  float64
 8   returnShipment                30000 non-null  int64
 9   deliveryTime                  30000 non-null  int64
 10  ageOfAccountUntilTimeOfOrder  30000 non-null  int64
 11  age                           30000 non-null  int64
dtypes: float64(8), int64(4)
memory usage: 3.0 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50078 entries, 0 to 50077
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   itemID                        50078 non-null  float64
 1   size                          50078 non-null  float64
 2   color                         50078 non-null  float64
 3   manufacturerID                50078 non-null  float64
 4   price                         50078 non-null  float64
 5   customerID                    50078 non-null  float64
 6   salutation                    50078 non-null  float64
 7   state                         50078 non-null  float64
 8   returnShipment                50078 non-null  int64
 9   deliveryTime                  50078 non-null  int64
 10  ageOfAccountUntilTimeOfOrder  50078 non-null  int64
 11  age                           50078 non-null  int64
dtypes: float64(8), int64(4)
memory usage: 4.6 MB
None

In [12]:
# Split dataset on target classes
train_df_0 = train_df[train_df.returnShipment == 0]
train_df_1 = train_df[train_df.returnShipment == 1]

In [13]:
# FULL
# Generate new datasets with 1%, 3%, 5%, 25% and 50% class balance
# (232 084 * 100 / 99) = 234 428 -> 1% of 234 428 = 2 344
# (232 084 * 100 / 97) = 239 262 -> 3% of 239 262 = 7 178
# (232 084 * 100 / 95) = 244 299 -> 5% of 244 299 = 12 214
# (232 084 * 100 / 75) = 309 445 -> 25% of 309 445 = 77 361
# (232 084 * 100 / 50) = 464 168 -> 50% of 464 168 = 232 084

# Filter dataframes for the correct number of instances
# train_df_0 = train_df_0.sample(n=232084)

# one_percent = train_df_1.sample(n=2344)
# three_percent = train_df_1.sample(n=7178)
# five_percent = train_df_1.sample(n=12214)
# twenty_five_percent = train_df_1.sample(n=77361)
# fifty_percent = train_df_1.sample(n=232084)

# RESAMPLED
# Generate new datasets with 1%, 3%, 5%, 25% and 50% class balance
# (15 000 * 100 / 99) = 15 152 -> 1% of 15 152 = 152
# (15 000 * 100 / 97) = 15 464 -> 3% of 15 464 = 464
# (15 000 * 100 / 95) = 15 789 -> 5% of 15 789 = 789
# (15 000 * 100 / 75) = 20 000 -> 25% of 20 000 = 5000
# (15 000 * 100 / 50) = 30 000 -> 50% of 30 000 = 15 000

one_percent = train_df_1.sample(n=152)
three_percent = train_df_1.sample(n=464)
five_percent = train_df_1.sample(n=789)
twenty_five_percent = train_df_1.sample(n=5000)

# Generate the new datasets
train_df_one = train_df_0.append(one_percent)
train_df_three = train_df_0.append(three_percent)
train_df_five = train_df_0.append(five_percent)
train_df_twenty_five = train_df_0.append(twenty_five_percent)
train_df_fifty = train_df_0.append(train_df_1)

In [14]:
# Sanity check new datasets
print(train_df_one['returnShipment'].value_counts())
print(train_df_three['returnShipment'].value_counts())
print(train_df_five['returnShipment'].value_counts())
print(train_df_twenty_five['returnShipment'].value_counts())
print(train_df_fifty['returnShipment'].value_counts())

0    15000
1      152
Name: returnShipment, dtype: int64
0    15000
1      464
Name: returnShipment, dtype: int64
0    15000
1      789
Name: returnShipment, dtype: int64
0    15000
1     5000
Name: returnShipment, dtype: int64
0    15000
1    15000
Name: returnShipment, dtype: int64

In [15]:
# Sort new datasets by index
train_df_one = train_df_one.sort_index()
train_df_three = train_df_three.sort_index()
train_df_five = train_df_five.sort_index()
train_df_twenty_five = train_df_twenty_five.sort_index()
train_df_fifty = train_df_fifty.sort_index()

In [16]:
# Save new datasets
save_dataset(df=train_df_one, dataset_type='train', encoding='oe', balance=1)
save_dataset(df=train_df_three, dataset_type='train', encoding='oe', balance=3)
save_dataset(df=train_df_five, dataset_type='train', encoding='oe', balance=5)
save_dataset(df=train_df_twenty_five, dataset_type='train', encoding='oe', balance=25)
save_dataset(df=train_df_fifty, dataset_type='train', encoding='oe', balance=50)

save_dataset(df=test_df, dataset_type='test', encoding='oe')