In [1]:
# Necessary imports
import pandas as pd

In [2]:
# Data paths
train_path = '../data/orders_train.txt'

In [3]:
# Load csv data into dataframes
train_df = pd.read_csv(train_path, sep=';', index_col=0)

In [4]:
# Split dataframe on classes 
train_df_0 = train_df[train_df.returnShipment == 0]
train_df_1 = train_df[train_df.returnShipment == 1]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 249001 entries, 1 to 481092
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   orderDate       249001 non-null  object
 1   deliveryDate    249001 non-null  object
 2   itemID          249001 non-null  int64
 3   size            249001 non-null  object
 4   color           249001 non-null  object
 5   manufacturerID  249001 non-null  int64
 6   price           249001 non-null  float64
 7   customerID      249001 non-null  int64
 8   salutation      249001 non-null  object
 9   dateOfBirth     249001 non-null  object
 10  state           249001 non-null  object
 11  creationDate    249001 non-null  object
 12  returnShipment  249001 non-null  int64
dtypes: float64(1), int64(4), object(8)
memory usage: 26.6+ MB

In [11]:
# Sanity check splitted datasets
print(train_df_0.info())
print(train_df_1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 249001 entries, 1 to 481092
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   orderDate       249001 non-null  object
 1   deliveryDate    249001 non-null  object
 2   itemID          249001 non-null  int64
 3   size            249001 non-null  object
 4   color           249001 non-null  object
 5   manufacturerID  249001 non-null  int64
 6   price           249001 non-null  float64
 7   customerID      249001 non-null  int64
 8   salutation      249001 non-null  object
 9   dateOfBirth     249001 non-null  object
 10  state           249001 non-null  object
 11  creationDate    249001 non-null  object
 12  returnShipment  249001 non-null  int64
dtypes: float64(1), int64(4), object(8)
memory usage: 26.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 232091 entries, 2 to 481088
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   orderDate       232091 non-null  object
 1   deliveryDate    232091 non-null  object
 2   itemID          232091 non-null  int64
 3   size            232091 non-null  object
 4   color           232091 non-null  object
 5   manufacturerID  232091 non-null  int64
 6   price           232091 non-null  float64
 7   customerID      232091 non-null  int64
 8   salutation      232091 non-null  object
 9   dateOfBirth     232091 non-null  object
 10  state           232091 non-null  object
 11  creationDate    232091 non-null  object
 12  returnShipment  232091 non-null  int64
dtypes: float64(1), int64(4), object(8)
memory usage: 24.8+ MB
None

In [12]:
# Generate new datasets with 1%, 3%, 5%, 25% and 50% class balance
# (249 001 * 100 / 99) = 251 516 -> 1% of 251 516 = 2 515
# (249 001 * 100 / 97) = 256 702 -> 3% of 256 702 = 7 701
# (249 001 * 100 / 95) = 262 106 -> 5% of 262 106 = 13 105
# (249 001 * 100 / 75) = 332 001 -> 25% of 332 001 = 83 000
# (232 091 * 100 / 50) = 464 182 -> 50% of 464 182 = 232 091 

# Filter dataframes for the correct number of instances
one_percent = train_df_1.sample(n=2515)
three_percent = train_df_1.sample(n=7701)
five_percent = train_df_1.sample(n=13105)
twentyfive_percent = train_df_1.sample(n=83000)
fifty_percent = train_df_0.sample(n=232091)

# Generate the new datasets
train_df_one = train_df_0.append(one_percent)
train_df_three = train_df_0.append(three_percent)
train_df_five = train_df_0.append(five_percent)
train_df_twentyfive = train_df_0.append(twentyfive_percent)
train_df_fifty = train_df_1.append(fifty_percent)

In [13]:
# Sanity check new datasets
print(train_df_one['returnShipment'].value_counts())
print(train_df_three['returnShipment'].value_counts())
print(train_df_five['returnShipment'].value_counts())
print(train_df_twentyfive['returnShipment'].value_counts())
print(train_df_fifty['returnShipment'].value_counts())

0    249001
1      2515
Name: returnShipment, dtype: int64
0    249001
1      7701
Name: returnShipment, dtype: int64
0    249001
1     13105
Name: returnShipment, dtype: int64
0    249001
1     83000
Name: returnShipment, dtype: int64
1    232091
0    232091
Name: returnShipment, dtype: int64